---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import CardNoBody from "../components/CardNoBody.astro";
import WeatherCard from "../components/WeatherCard.jsx";
---

<Layout title="MyHub">
  <main>
    <h1>Bem-vindo ao meu <span class="text-gradient">Hub</span></h1>
    <WeatherCard />
    <p class="description">
      Dedicado a organizar todos os meus links e acessos aos meus servidores.
    </p>
    <ul role="list" class="link-card-grid">
      <Card
        href="https://reader.danieltolentino.tech/"
        icon="rss"
        title="Miniflux - Back soon"
        body="Agregador de RSS."
      />
      <Card
        href="https://blog.danieltolentino.tech/"
        title="Blog"
        icon="globe"
        body="Blog onde escrevo sobre tecnologia e descobertas."
      />
      <CardNoBody
        href="https://danieltolentino.tech/transfer"
        title="ðŸ”— Enviar arquivos via link"
      />
      <CardNoBody
        href="https://danieltolentino.tech/sendp"
        title="ðŸ” Enviar senhas"
      />
      <CardNoBody
        href="https://danieltolentino.tech/markdown"
        title="ðŸ“ƒ Markdown Cheatsheet"
      />
      <CardNoBody
        href="https://danieltolentino.tech/pomodoro"
        title="ðŸ… Pomodoro"
      />
      <CardNoBody
        href="https://danieltolentino.tech/yt"
        title="ðŸ“¹ Individious"
      />
      <Card
        href="https://danieltolentino.tech/projects/"
        title="Projetos"
        icon="portifa"
        body="Meus projetos"
      />
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .description {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
